<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SaveTheKittensExceptHairless.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0FA0960A1E37D7D9008C4D00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FA0961E1E37D7D9008C4D00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FA096291E37D7DA008C4D00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
